.blast {
  animation: blast 1s cubic-bezier(0.85, 0.15, 0.15, 0.85) 0s 1;
}
.visio {
  animation: visio 1s cubic-bezier(0.85, 0.15, 0.15, 0.85) 0s 1;
}

@keyframes blast {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes visio {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
