// COMMON
.fadeIn {
  animation: fadeIn 1s linear forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeOut {
  animation: fadeOut 1s linear forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.bgSlideInWide {
  animation: bgSlideInWide 1s ease-in-out forwards;
}

@keyframes bgSlideInWide {
  from {
    left: 3000px;
  }

  to {
    left: 119px;
  }
}

.bgSlideInMobile {
  animation: bgSlideInMobile 1s ease-in-out forwards;
}

@keyframes bgSlideInMobile {
  from {
    left: 3000px;
  }

  to {
    left: 40px;
  }
}


.bgSlideOut {
  animation: bgSlideOut 1s ease-in-out forwards;
}

@keyframes bgSlideOut {
  from {
    left: 0;
  }

  to {
    left: 3000px;
  }
}




// SLIDER
.sliderAnim {
  animation: sliderAnim 1s cubic-bezier(0.85, 0.15, 0.15, 0.85) 0s 1;
}
@keyframes sliderAnim {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.sliderTextAnim {
  animation: sliderTextAnim 1s cubic-bezier(0.85, 0.15, 0.15, 0.85) 0s 1;
}
@keyframes sliderTextAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




// HOME SECTION
@keyframes home-text-animation-main {
  0% {
    background-position-x: -566px;
  }
  100% {
    background-position-x: 0px;
    // background-position: top;
  }
}

@keyframes anim {
  0% {
    background-position-x: -566px;
  }
  100% {
    background-position-x: 566px;
  }
}




// ABOUT US SECTION
.aboutTextFadeIn {
  animation: aboutTextFadeIn 1.5s ease-in forwards;
  animation-delay: 0.8s;
}

@keyframes aboutTextFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.aboutUsTextSlideIn_1 {
  -webkit-animation: aboutUsTextSlideIn_1 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
  -moz-animation: aboutUsTextSlideIn_1 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
  -ms-animation: aboutUsTextSlideIn_1 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
  animation: aboutUsTextSlideIn_1 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
  animation-delay: 1.45s;
}

@keyframes aboutUsTextSlideIn_1 {
  0% {
    background-position-x: -566px;
  }
  100% {
    background-position-x: 0px;
  }
}

.aboutUsBgSlideIn_1 {
  -webkit-animation: aboutUsBgSlideIn_1 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
  -moz-animation: aboutUsBgSlideIn_1 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
  -ms-animation: aboutUsBgSlideIn_1 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
  animation: aboutUsBgSlideIn_1 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
  animation-delay: 1.5s;
}

@keyframes aboutUsBgSlideIn_1 {
  0% {
    background-position-x: -566px;
  }
  100% {
    background-position-x: 0px;
  }
}



.aboutUsTextSlideIn_2 {
  -webkit-animation: aboutUsTextSlideIn_2 1.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
  -moz-animation: aboutUsTextSlideIn_2 1.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
  -ms-animation: aboutUsTextSlideIn_2 1.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
  animation: aboutUsTextSlideIn_2 1.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
  animation-delay: 1.95s;
}

@keyframes aboutUsTextSlideIn_2 {
  0% {
    background-position-x: -566px;
  }
  100% {
    background-position-x: 0px;
  }
}


.aboutUsBgSlideIn_2 {
  -webkit-animation: aboutUsBgSlideIn_2 1.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
  -moz-animation: aboutUsBgSlideIn_2 1.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
  -ms-animation: aboutUsBgSlideIn_2 1.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
  animation: aboutUsBgSlideIn_2 1.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
  animation-delay: 2s;
}

@keyframes aboutUsBgSlideIn_2 {
  0% {
    background-position-x: -566px;
  }
  100% {
    background-position-x: 0px;
  }
}




.aboutUsTextSlideIn_3 {
  -webkit-animation: aboutUsTextSlideIn_3 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
  -moz-animation: aboutUsTextSlideIn_3 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
  -ms-animation: aboutUsTextSlideIn_3 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
  animation: aboutUsTextSlideIn_3 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
  animation-delay: 2.45s;
}

@keyframes aboutUsTextSlideIn_3 {
  0% {
    background-position-x: -566px;
  }
  100% {
    background-position-x: 0px;
  }
}

.aboutUsBgSlideIn_3 {
  -webkit-animation: aboutUsBgSlideIn_3 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
  -moz-animation: aboutUsBgSlideIn_3 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
  -ms-animation: aboutUsBgSlideIn_3 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
  animation: aboutUsBgSlideIn_3 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
  animation-delay: 2.5s;
}

@keyframes aboutUsBgSlideIn_3 {
  0% {
    background-position-x: -566px;
  }
  100% {
    background-position-x: 0px;
  }
}