.blast {
  animation: blast 1s cubic-bezier(0.85, 0.15, 0.15, 0.85) 0s 1;
}
@keyframes blast {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.visio {
  animation: visio 1s cubic-bezier(0.85, 0.15, 0.15, 0.85) 0s 1;
}
@keyframes visio {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.fadeIn {
  animation: fadeIn 1s linear forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.aboutTextFadeIn {
  animation: fadeIn 1.5s ease-in forwards;
  animation-delay: 0.8s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeOut {
  animation: fadeOut 1s linear forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.bgSlideIn {
  animation: bgSlideIn 1s ease-in-out forwards;
}

@keyframes bgSlideIn {
  from {
    left: 3000px;
  }

  to {
    left: 119px;
  }
}
.bgSlideOut {
  animation: bgSlideOut 1s ease-in-out forwards;
}

@keyframes bgSlideOut {
  from {
    left: 0;
  }

  to {
    left: 3000px;
  }
}


@keyframes anim {
  0% {
    background-position-x: -566px;
  }
  100% {
    background-position-x: 566px;
    // background-position: top;
  }
}

@keyframes home-text-animation-main {
  0% {
    background-position-x: -566px;
  }
  100% {
    background-position-x: 0px;
    // background-position: top;
  }
}