// Breakpoints
$xs: 360px;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1366px;
$xxl: 1440px;

@mixin xs {
  @media (max-width: #{$xs}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$sm}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$md}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$lg}) {
    @content;
  }
}

@mixin xl {
  @media (max-width: #{$xl}) {
    @content;
  }
}

@mixin xxl {
  @media (max-width: #{$xxl}) {
    @content;
  }
}