.about {
  background-color: #fff;
  background: linear-gradient(180deg, $mainDark 20%, #fff 20%);
  padding-bottom: 145px;

  @include md {
    padding-bottom: 100px;
  }

  @include sm {
    padding-bottom: 50px;
  }

  &-content {
    padding: 180px 100px 175px 165px;
    background-color: $lightGray;

    @include lg {
      padding: 100px 30px 105px 130px;
    }

    @include md {
      padding: 105px 30px;
    }

    @include sm {
      padding: 0 30px 105px 40px;
    }

    &-text {
      display: inline-block;
      margin-bottom: 40px;

      font-family: $main-ff-bold;
      font-size: 36px;
      line-height: 60px;

      @include lg {
        font-size: 26px;
        line-height: 40px;
      }

      @include sm {
        padding-top: 20px;
        font-size: 20px;
        line-height: 38px;
      }

      &__link {
        padding: 0 3px;
        display: inline-block;
        height: 50px;
        color: #fff;
        background-color: $mainBlue;

        @include lg {
          height: 36px;
        }

        @include sm {
          height: 32px;
        }

        @include xs {
          &:last-of-type {
            height: 68px;
          }
        }
      }

      .about-content-text__part {
        display: block;

        @include xl {
          display: inline-block;
        }
      }
      
      .coma {
        margin-left: -6px;
        color: #fff;
      }
    }

    &__link {

      &:before {
        content: "";
        display: block;
        position: absolute;

        left: 0;
        top: 12px;
        height: 1px;
        width: 20px;
        background: $mainBlue;
      }
    }
  }

  .container {
    position: relative;
    width: 100%;

    &:after {
      content: "";
      display: block;
      position: absolute;
      right: -99%;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: $lightGray;
    }
  }

  &__mobile-img {
    display: none;

    @include sm {
      width: 100%;
      display: block;
    }
  }
}

.about-page {
  padding-top: 158px;
  padding-bottom: 170px;
  
  @include md {
    padding-top: 80px;
    padding-bottom: 100px;
  }

  @include sm {
    padding-bottom: 40px;
  }

  .container {
    align-items: end;

    @include md {
      flex-direction: column;
    }
  }

  &-content {
    &-title {
      @include title;
      min-width: 368px;
      margin-right: 64px;

      &__part {
        display: inline-block;

        @include castom-lg {
          display: block;
        }
      }
      @include castom-lg {
        min-width: 210px;
      }
    }

    &__text {
      @include text;
      max-width: 497px;
      margin-bottom: 24px;

      span {
        display: block;
      }
    }

    &__text:last-of-type {
      margin-bottom: 60px;
    }

    &_1 {
    }

    &_2 {
      padding-right: 128px;

      @include lg {
        padding-right: 80px;
      }

      @include md {
        padding-right: 24px;
      }
    }
  }
}
