.contact {
  background-color: #fff;
  background: linear-gradient(180deg, $mainDark 20%, #fff 20%);

  .container {
    position: relative;
    width: 100%;

    &:after {
      content: "";
      display: block;
      position: absolute;
      right: -99%;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: $lightGray;
    }
  }

  &-content {
    display: flex;
    justify-content: space-between;

    padding: 125px 125px 85px 80px;
    background-color: $lightGray;

    @include lg {
      padding: 86px 60px 85px 60px;
    }

    @include md {
      flex-direction: column;
    }

    @include sm {
      padding: 40px;
    }

    // CONTACT INFO
    &-info {
      max-width: 290px;
      min-width: 256px;
      margin-right: 100px;

      @include lg {
        margin-right: 50px;
      }

      @include md {
        margin-right: 0px;
        margin-bottom: 80px;
      }

      @include xs {
        min-width: 195px;
      }

      &__caption {
        @include title;
        color: $mainDark;
        margin-bottom: 16px;

        @include sm {
          font-size: 30px;
          line-height: 40px;
        }
      }
      &__text {
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid $secondGray;
      }
      &__location,
      &__email {
        position: relative;
        padding-left: 32px;
        margin-bottom: 16px;

        &:before {
          content: "";
          background-size: 18px;
          background-image: url(../images/icon/location.svg);
          height: 18px;
          width: 18px;
          display: block;
          position: absolute;
          left: 0;
          top: 4px;
        }
      }
      &__email {
        margin-bottom: 0;

        a {
          color: $mainBlue;
          font-style: normal;
          text-decoration: underline;
        }

        &:before {
          content: "";
          background-size: 18px;
          background-image: url(../images/icon/mail.svg);
          top: 4px;
        }
      }
    }

    // CONTACT FORM
    &-form {
      max-width: 563px;

      &__caption {
        margin-bottom: 16px;

        &_desktop {
          display: block;

          @include sm {
            display: none;
          }
        }

        &_mobile {
          display: none;

          @include sm {
            display: block;
          }
        }
      }
      &__text {
        @include text;
        margin-bottom: 33px;
      }

      .form {
        &-input-box {
          position: relative;

          &__input {
            @include formelementst-reset;
            @include formelementst-custom-style;

            display: block;
            width: 100%;
            margin-bottom: 24px;
            color: $mainDark;

            &:focus {
              border-bottom: 1px solid $mainBlue;
            }
          }

          &__lable {
            position: absolute;
            bottom: -18px;
            font-size: 10px;
            line-height: 16px;
            color: $mainRed;
          }
        }

        &-textarea-box {
          position: relative;
          margin-bottom: 33px;

          textarea {
            @include formelementst-reset;
            @include formelementst-custom-style;

            resize: none;
            display: block;
            width: 100%;
            color: $mainDark;

            &:focus {
              border-bottom: 1px solid $mainBlue;
            }
          }

          &__btn {
            @include button-reset;
            @include caption;

            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 5;
            padding: 10px 28px 10px 10px;

            &:after {
              content: "";
              display: block;
              position: absolute;

              right: 0;
              top: 22px;
              height: 1px;
              width: 20px;
              background: $mainBlue;
            }
          }
        }

        &-radio-box {
          &__radio {
          }
          &-lable {
            &__link {
              text-decoration: underline;
              color: $secondGray;
            }
          }
        }
      }
    }
  }
}

// CHECKBOX CUSTOM STYLES

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label {
  position: relative;
  padding-left: 31px;
  padding-top: 1px;
  cursor: pointer;
  line-height: 21px;
  font-size: 14px;
  display: inline-block;
  color: $secondGray;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid $secondGray;
  border-radius: 2px;
  background: transparent;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
  content: url(../images/icon/checbox-active.svg);
  width: 8px;
  height: 8px;
  // background: $mainBlue;
  position: absolute;
  top: -1px;
  left: 6px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
[type="checkbox"]:checked + label:before {
  border: 1px solid $mainBlue;
}

.errorCheckbox {
  [type="checkbox"]:checked + label:before,
  [type="checkbox"]:not(:checked) + label:before {
    border: 1px solid $mainRed;
  }
}

.form-success-text,
.form-error-text {
  @include text;
  display: none;
  margin-bottom: 33px;
  padding: 0;
  text-transform: uppercase;
  color: $mainBlue;

  &::before {
    content: none;
  }

  &_visible {
    display: block;
  }
}

.form-error-text {
  color: $mainRed;
  // display: inline-block;
  margin-bottom: 0;
}

// PAGE STILES
.contact-page {
  padding-top: 170px;
  padding-bottom: 63px;

  &-bg {
    position: absolute;
    z-index: -10;
    height: 100vh;
  }

  .container {
    align-items: end;

    @include lg {
      flex-direction: column;
    }
  }

  &-content {
    &-title {
      @include title;
      margin-bottom: 8px;
      min-width: 401px;
      margin-right: 64px;

      &__part {
        display: inline-block;

        @include castom-lg {
          display: block;
        }

        @include lg {
          display: inline-block;
        }
      }
      @include castom-lg {
        min-width: 270px;
      }
    }

    &-text {
      @include text;
      max-width: 497px;
      margin-bottom: 24px;
    }

    &_1 {
      @include lg {
        margin-bottom: 64px;
      }
    }

    &_2 {
      position: relative;
      padding-right: 128px;

      @include lg {
        padding-right: 80px;
      }

      @include md {
        padding-right: 24px;
      }
    }
  }

  .form {
    max-width: 498px;

    &-input-box {
      position: relative;
      &__input {
        @include formelementst-reset;
        @include formelementst-custom-style;

        display: block;
        width: 100%;
        margin-bottom: 24px;
        color: #fff;

        &:-webkit-autofill {
          -webkit-text-fill-color: #fff;
          -webkit-box-shadow: none;
          transition: background-color 5000s ease-in-out 0s;
        }
        &:-webkit-autofill:hover {
          -webkit-text-fill-color: #fff;
          -webkit-box-shadow: none;
          transition: background-color 5000s ease-in-out 0s;
        }
        &:-webkit-autofill:focus {
          -webkit-text-fill-color: #fff;
          -webkit-box-shadow: none;
          transition: background-color 5000s ease-in-out 0s;
        }

        &:focus {
          border-bottom: 1px solid $mainBlue;
        }
      }

      &__lable {
        position: absolute;
        bottom: -18px;
        font-size: 10px;
        line-height: 16px;
        color: $mainRed;
      }
    }

    &-textarea-box {
      position: relative;
      margin-bottom: 33px;

      textarea {
        @include formelementst-reset;
        @include formelementst-custom-style;

        &:-webkit-autofill {
          -webkit-text-fill-color: #fff;
          -webkit-box-shadow: none;
          transition: background-color 5000s ease-in-out 0s;
        }
        &:-webkit-autofill:hover {
          -webkit-text-fill-color: #fff;
          -webkit-box-shadow: none;
          transition: background-color 5000s ease-in-out 0s;
        }
        &:-webkit-autofill:focus {
          -webkit-text-fill-color: #fff;
          -webkit-box-shadow: none;
          transition: background-color 5000s ease-in-out 0s;
        }

        margin-bottom: 32px;
        resize: none;
        display: block;
        width: 100%;
        color: #fff;

        &:focus {
          border-bottom: 1px solid $mainBlue;
        }
      }

      &__btn {
        @include button-reset;
        @include caption;

        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 5;
        padding: 10px 28px 10px 10px;

        &:after {
          content: "";
          display: block;
          position: absolute;

          right: 0;
          top: 22px;
          height: 1px;
          width: 20px;
          background: $mainBlue;
        }
      }
    }

    &-radio-box {
      &__radio {
      }
      &-lable {
        &__link {
          text-decoration: underline;
          color: $secondGray;
        }
      }
    }

    .home__startbtn.blue-link {
      background: transparent;
      border: none;
      outline: none;
    }
  }
}
