.cookies-popup {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
  background-color: $mainBlue;

  .container {
    @include sm {
      padding: 24px;
    }
  }

  &-content {
    padding: 36px 128px 36px 0;

    @include lg {
      padding: 36px 40px 36px 0;
      flex-direction: column;
      align-items: baseline;
    }

    @include sm {
      padding: 0;
    }
  }

  &-text {
    @include text;
    color: #fff;
    max-width: 783px;
    line-height: 24px;
    margin-right: 40px;

    @include lg {
      margin-right: 0px;
      margin-bottom: 24px;
    }

    &__link {
      color: #fff;
      text-decoration: underline;
    }
  }

  .blue-link {
    color: #fff;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;

    @include md {
      margin: 0;
    }
  }
  .blue-link::before {
    background: #fff;
  }
}
