.home {
  padding-bottom: 150px;

  @include sm {
    padding-bottom: 0px;
  }

  &-text {
    max-width: 570px;
    display: inline-block;
    margin-top: 150px;
    margin-bottom: 64px;

    color: $mainGray;
    font-family: $main-ff-bold;
    font-size: 48px;
    line-height: 64px;

    span {
      display: block;
    }

    @include md {
      margin-top: 88px;
      font-size: 36px;
      line-height: 46px;
    }

    @include sm {
      margin-top: 88px;
      font-size: 30px;
      line-height: 40px;
    }

    &__part-1 {
      color: #fff;
    }
  }
  &__mobile-img {
    display: none;

    @include sm {
      width: 100%;
      display: block;
    }
  }

  &__startbtn {
    @include sm {
      margin-bottom: 57px;
    }
  }
}
