$gridPadding: 15px;
$listItemMargin: 10px;

.solutions {
  @include noScrollbar;
  padding-bottom: 100px;
  background-color: #fff;

  @include lg {
    padding-bottom: 60px;
  }

  @include md {
    padding-bottom: 60px;
  }

  @include sm {
    @include blueScrollbar;
    padding-bottom: 48px;
  }

  &__caption {
    opacity: 0;
    margin-bottom: 30px;
    font-family: $main-ff-bold;
    font-size: 48px;
    line-height: 72px;

    @include sm {
      font-size: 30px;
      line-height: 40px;
    }
  }

  &-grid {
    opacity: 0;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    padding-bottom: 48px;

    &-box {
      display: flex;
      flex-wrap: nowrap;

      &-1 {
        .solutions-grid-item {
          // icons
          &:nth-child(1) .solutions-grid-item__caption::before {
            content: url(../images/solutions/blue/predictive-maintenance.svg);
          }
          &:nth-child(2) .solutions-grid-item__caption::before {
            content: url(../images/solutions/blue/condition-monitoring.svg);
          }
          &:nth-child(3) .solutions-grid-item__caption::before {
            content: url(../images/solutions/blue/sensor-data-processing.svg);
          }
          &:nth-child(4) .solutions-grid-item__caption::before {
            content: url(../images/solutions/blue/smart-hvac.svg);
          }

          // Hover
          &:nth-child(1):hover .solutions-grid-item__caption::before {
            content: url(../images/solutions/white/predictive-maintenance.svg);
            @include md {
              content: url(../images/solutions/blue/predictive-maintenance.svg);
            }
          }
          &:nth-child(2):hover .solutions-grid-item__caption::before {
            content: url(../images/solutions/white/condition-monitoring.svg);
            @include md {
              content: url(../images/solutions/blue/condition-monitoring.svg);
            }
          }
          &:nth-child(3):hover .solutions-grid-item__caption::before {
            content: url(../images/solutions/white/sensor-data-processing.svg);
            @include md {
              content: url(../images/solutions/blue/sensor-data-processing.svg);
            }
          }
          &:nth-child(4):hover .solutions-grid-item__caption::before {
            content: url(../images/solutions/white/smart-hvac.svg);
            @include md {
              content: url(../images/solutions/blue/smart-hvac.svg);
            }
          }
        }
      }

      &-2 {
        .solutions-grid-item {
          // Icons
          &:nth-child(1) .solutions-grid-item__caption::before {
            content: url(../images/solutions/blue/machine-learning.svg);
          }
          &:nth-child(2) .solutions-grid-item__caption::before {
            content: url(../images/solutions/blue/embedded-development.svg);
          }
          &:nth-child(3) .solutions-grid-item__caption::before {
            content: url(../images/solutions/blue/data-processing.svg);
          }
          &:nth-child(4) .solutions-grid-item__caption::before {
            content: url(../images/solutions/blue/visualisations.svg);
          }

          // Hover
          &:nth-child(1):hover .solutions-grid-item__caption::before {
            content: url(../images/solutions/white/machine-learning.svg);
            @include md {
              content: url(../images/solutions/blue/machine-learning.svg);
            }
          }
          &:nth-child(2):hover .solutions-grid-item__caption::before {
            content: url(../images/solutions/white/embedded-development.svg);
            @include md {
              content: url(../images/solutions/blue/embedded-development.svg);
            }
          }
          &:nth-child(3):hover .solutions-grid-item__caption::before {
            content: url(../images/solutions/white/data-processing.svg);
            @include md {
              content: url(../images/solutions/blue/data-processing.svg);
            }
          }
          &:nth-child(4):hover .solutions-grid-item__caption::before {
            content: url(../images/solutions/white/visualisations.svg);
            @include md {
              content: url(../images/solutions/blue/visualisations.svg);
            }
          }
        }
      }
    }

    &-item {
      height: 295px;
      min-width: 329px;
      padding: 90px 70px 0;
      margin: 0.5px;
      background-color: $lightGray;
      cursor: pointer;

      @include md {
        min-width: 335px;
        height: auto;
        padding: 68px 82px;
      }

      &__caption {
        opacity: 0;
        position: relative;
        margin-bottom: 15px;
        font-size: 16px;
        letter-spacing: 1.24px;
        line-height: 24px;
        color: $mainBlue;
        text-transform: uppercase;

        @include md {
          margin-bottom: 0;
          padding-left: 48px;
        }

        span {
          display: block;
        }

        &:before {
          content: url(../images/solutions/blue/predictive-maintenance.svg);
          height: 30px;
          width: 30px;
          display: block;
          position: absolute;
          left: 0;
          top: -33px;

          @include md {
            top: 9px;
          }
        }
      }

      &__text {
        opacity: 0;
        font-size: 16px;
        line-height: 24px;
        color: $secondGray;

        @include md {
          display: none;
        }

        span {
          display: block;
        }
      }

      &__link {
        display: none;
      }

      &:hover {
        background-color: $mainBlue;
        cursor: pointer;

        @include md {
          background-color: $lightGray;
          cursor: default;
        }
      }

      .blue-link {
        color: #fff;
        &::before {
          background: #fff;
        }
      }

      &:hover .solutions-grid-item__text {
        display: none;
      }

      &:hover .solutions-grid-item__caption {
        margin-bottom: 60px;

        @include md {
          margin-bottom: 0px;
        }
      }

      &:hover .solutions-grid-item__caption_bigmb {
        margin-bottom: 82px;

        @include md {
          margin-bottom: 0px;
        }
      }

      &:hover .solutions-grid-item__link {
        display: block;

        @include md {
          display: none;
        }
      }

      &:hover .solutions-grid-item__caption {
        color: #fff;

        @include md {
          color: $mainBlue;
        }

        // &:before {
        //   content: url(../images/solutions/white/predictive-maintenance.svg);
        // }
      }

      &:hover .solutions-grid-item__text {
        color: #fff;

        @include md {
          color: $mainBlue;
        }
      }
    }
  }
}
