.technology {
  padding-bottom: 145px;
  padding-top: 130px;
  background-color: $mainDark;

  .container {
    @include md {
      padding-right: 24px;
    }
  }

  &__caption {
    margin-bottom: 10px;
    font-family: $main-ff-bold;
    font-size: 48px;
    line-height: 72px;
    color: #fff;

    @include sm {
      font-size: 30px;
      line-height: 40px;
    }
  }

  &__subcaption {
    max-width: 460px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 24px;
    color: $secondGray;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    justify-self: center;
    max-width: 1131px;

    @include md {
      grid-template-columns: none;
    }

    &-item {
      height: 238px;
      padding: 84px 58px 0 40px;
      background-color: $mainDark;
      border: 1px solid #1e1e1e;
      margin-left: -1px;
      margin-bottom: -1px;

      @include md {
        padding: 32px 40px 32px 79px;
        height: auto;
        max-width: 312px;
      }

      // Icons
      &:nth-child(2) .technology-grid-item__caption::before {
        background-image: url(../../images/Icon/Database.svg);
      }
      &:nth-child(3) .technology-grid-item__caption::before {
        background-image: url(../../images/Icon/Cube.svg);
      }
      &:nth-child(4) .technology-grid-item__caption::before {
        background-image: url(../../images/Icon/Eye.svg);
      }
      &:nth-child(5) .technology-grid-item__caption::before {
        background-image: url(../../images/technology/Processor.svg);
      }

      &__caption {
        position: relative;
        font-size: 16px;
        letter-spacing: 1.24px;
        line-height: 24px;
        color: #fff;
        text-transform: uppercase;

        &:before {
          background-image: url(../../images/Icon/Сircle.svg);
          background-size: 20px;
          content: "";
          height: 20px;
          width: 20px;
          display: block;
          position: absolute;
          left: 0;
          top: -41px;

          @include md {
            left: -36px;
            top: 2px;
          }
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          bottom: -74px;
          height: 1px;
          width: 20px;
          background: $mainBlue;
          transition: width 0.35s ease;

          @include md {
            display: none;
          }
        }
      }

      &__text {
        font-size: 16px;
        line-height: 24px;
        color: $secondGray;
      }

      &__link {
        display: none;
      }

      &:hover {
        background: linear-gradient(180deg, #1b1b1b 0%, #171717 100%);
        cursor: pointer;
      }

      &:hover .technology-grid-item__text {
        display: none;
      }

      &:hover .technology-grid-item__caption {
        margin-bottom: 60px;
      }

      &:hover .technology-grid-item__link {
        display: inline;
      }

      &:hover .technology-grid-item__caption {
        color: #fff;
      }

      &:hover .technology-grid-item__text {
        color: #fff;
      }
    }
  }
}
